section.digital {
    background-color: #000b23;
}

.col.digital-l {
    padding: 60px 100px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.agency {
    display: flex;
    align-items: center;
    gap: 20px;
}

.agency i{
    font-size: 50px;
}
.agency p{
    margin: 0;
    font-size: 25px;
    font-weight: bolder;
}

.line {
    width: 80px;
    height: 6px;
    background-color: white;
}

.head h1{
    margin: 0;
    font-size: 70px;
    font-weight: bolder;
}

.head h1 span{
    color: #ffcc00;
}

.content p{
    color: gray;
    margin: 0;
    font-size: 25px;
    font-weight: lighter;
}

.bottom {
    display: flex;
    gap: 25px;
    align-items: baseline;
}

.join {
    font-size: 18px;
    background-color: #ffcc00;
    color: #000b23;
    padding: 0 15px;
    font-weight: bold;
    position: relative;
}

.join p{
    margin: 0;
    padding: 2px;
}

.join::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 30px solid #000b23;
    border-right: 15px solid transparent;
    top: 0px;
    left: 0;
}

.join::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 30px solid #000b23;
    border-left: 15px solid transparent;
    top: 0px;
    right: 0;
}

.social{
    display: flex;
    gap: 5px;
}

.social i{
    border-radius: 50%;
    font-size: 15px;
    border: none;
    background-color: #ffcc00;
    color: #000b23;
    display: flex;
    justify-content: center;
    height: 25px;
    width: 25px;
    align-items: center;
}

.website {
    font-size: 17px;
    letter-spacing: 2px;
    color: gray;
}

.col.digital-r {
    display: flex;
    align-items: center;
    /* position: relative; */
}

.cross i {
    font-size: 35px;
    color: #ffcc00;
    position: relative;
    top: 60px;
    right: 60px;
}

.triangle1{
    content: "";
    position: absolute;
    bottom: -175px;
    width: 0;
    height: 0;
    border-top: 250px solid #ffcc00;
    border-left: 250px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 100px solid #ffcc00;
    border-top-right-radius: 75px;
    rotate: -45deg;
    z-index: 1;
}

.triangle2{
    content: "";
    position: absolute;
    right: 310px;
    bottom: -150px;
    width: 0;
    height: 0;
    border-top: 200px solid #ffc001;
    border-left: 200px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 100px solid #ffc001;
    border-top-right-radius: 75px;
    rotate: -45deg;
    z-index: 2;
}

.triangle3{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 500px solid #ffcc00;
    border-left: 500px solid transparent;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.triangle4 {
    content: "";
    position: absolute;
    top: -85%;
    right: -15%;
    width: 0;
    height: 0;
    border-top: 90vh solid white;
    border-left: 90vh solid transparent;
    border-bottom: 30vh solid transparent;
    border-right: 30vh solid white;
    border-top-right-radius: 75px;
    rotate: 135deg;
    z-index: 1;


   /* background-image: url(banner-img.jpg); */
   /* position: absolute;
   top: 0;
    height: 60vh;
    width: 90vh;
    padding: 10px;
    z-index: 3;
 
    background-size: cover;
    background-position: center right;
    border-radius: 30px;

    border-top: 10px solid white;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white; */

   
}

/* .triangle4 img{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 900px;
    height: 600px;
    object-fit: cover;
} */

.row.digital-out {
    position: relative;
    overflow: hidden;
}